
.top
  = image_tag 'pier66.jpg'
  %ul.nav
    %li#couple_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          The Couple
    %li#proposal_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Proposal
    %li#party_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Wedding Party
    %li#rsvp_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          RSVP
    %li#travel_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Travel Info
    %li#registry_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Registry

.section.intro
  .row
    .col-md-4.col-md-offset-3.welcome-box
      Hello!  Welcome to our wedding website. We can’t wait to celebrate our wedding on January 17, 2015 with everyone. Until then, take some time to explore our site and plan your travels.
      %span
        Don’t forget to RSVP!
      — M & B

    .col-md-2
      .yellow-box
        %p.ceremony-start-text
          The ceremony begins in:
          %script
            TargetDate = "01/17/2015 5:00 PM";
            BackColor = "#000000";
            ForeColor = "#000000";
            CountActive = true;
            CountStepper = -1;
            LeadingZero = true;
            DisplayFormat = "";
            %h1 %%D%% Days
            = succeed "\";" do
              %h3 %%H%% Hrs &amp; %%M%% Mins
            FinishMessage = "It's Finally Here!";


.section.about
  .row
    .profile.col-md-4.col-md-offset-2.col-xs-12
      .profile_label
        Michelle
      = image_tag "michelle.jpg"

    .profile.col-md-4.col-xs-12
      .profile_label
        Blake
    = image_tag "blake.jpg"

    .text.col-md-8.col-md-offset-2
      %h1 How We Met
      %p
        When Michelle was in law school in Boston, a mutual friend and classmate often invited Blake (one of her college friends) to various law school events. From trips to Maine to sushi nights, Blake and Michelle were always at the same events with the same circle of friends, but they hardly talked. Little did Michelle know that Blake secretly had a crush on her.
      %p
        Finally, when the two of them were playing pool one night, Blake asked Michelle on a date. He suggested they go movie hopping over the long weekend. Michelle immediately said she was too busy, but then quickly changed her mind and said yes. Over Columbus Day weekend of 2010, they went on a three movie marathon date and then to dinner afterward. The rest is history!

.section.proposal.row
  .title
    Proposal
  .text.col-md-8.col-md-offset-2
    %h1 How it all happened
    %p
      In August 2013, we were selling all our belongings, packing up, and getting ready to leave NYC. During this time, Michelle was taking a design class every Wednesday night. One evening, as the class was ending, Michelle called Blake and asked if she should pick up sandwiches for dinner. Blake told her that he would order some Indian food, and that she should just come straight home.
      %br
        %br
          Thirty minutes later, Michelle came home and smelled something amazing cooking as she walked down the hallway. When she opened the door, she was surprised to see rose petals lining the table, candles, wine, and a bouquet of beautiful roses. Moreover, Blake had prepared a gourmet meal of steak, potatoes and asparagus with some help from a kind employee at Whole Foods. Blake immediately got down on one knee and proposed. Michelle cried of course, and said yes!

  .col-md-4.col-md-offset-2.col-xs-12
    = image_tag "proposal1.jpg"
  .col-md-4.col-xs-12
    = image_tag "ring.jpg"

.section.attendants.row
  .title
    Wedding Party
  .row.portraits
    .col-md-4.col-md-offset-2
      %h1 Bride's Attendants
      = image_tag "char.jpg"
      %h2 Charmiane Lieu
      = image_tag "lindseyR.jpg"
      %h2 Lindsey Rhodes
      = image_tag "david.jpg"
      %h2 David Rittner
      = image_tag "lindseyF.jpg"
      %h2 Lindsey Fernandez
      = image_tag "jason.jpg"
      %h2 Jason Chen
      = image_tag "laura.jpg"
      %h2 Laura Snizek
      = image_tag "jessica.jpg"
      %h2 Jessica Lin
    .col-md-4
      %h1 Groom's Attendants
      = image_tag "brian.jpg"
      %h2 Brian Tovar
      = image_tag "antonio.jpg"
      %h2 Antonio Dell'Aglio
      = image_tag "kyle.jpg"
      %h2 Kyle Rego
      = image_tag "charley.jpg"
      %h2 Charley McMillan
      = image_tag "manav.jpg"
      %h2 Manav Malhotra
      = image_tag "matthew.jpg"
      %h2 Matthew Gordon
      = image_tag "journee.jpg"
      %h2 Journee Isip
