
.top
  = image_tag 'pier66.jpg', :id => 'featuredImage'
  %ul.nav
    %li#rsvp_nav.nav_button
      %span.underline
        %a{:href => "#rsvp"}
          RSVP
    %li#travel_nav.nav_button
      %span.underline
        %a{:href => "#travel"}
          Travel Info
    %li#registry_nav.nav_button
      %span.underline
        %a{:href => "#registry"}
          Registry
    %li#couple_nav.nav_button
      %span.underline
        %a{:href => "#couple"}
          The Couple
    %li#proposal_nav.nav_button
      %span.underline
        %a{:href => "#proposal"}
          Proposal
    %li#party_nav.nav_button
      %span.underline
        %a{:href => "#weddingParty"}
          Wedding Party

.section.row.intro
  .row
    .intro-boxes
      .welcome-box.col-lg-5.col-lg-offset-3.col-md-7.col-md-offset-1.col-sm-7.col-sm-offset-1.col-xs-12
        Hello!  Welcome to our wedding website. We can’t wait to celebrate our wedding on January 17, 2015 with everyone. Until then, take some time to explore our site and plan your travels.
        %span
          %a{:href => '#rsvp'}
            Don’t forget to RSVP!
        — M & B

      .col-lg-1.col-md-2.col-sm-2.hidden-xs
        .yellow-box
          %p.ceremony-start-text
            The ceremony begins in:
        %span#cntdwn.yellow-box

.section.row.rsvp.short#rsvp
  .title
    RSVP

  .text.row.col-md-8.col-md-offset-2.col-xs-12
    %p
      You should have received an RSVP card within your invitation. Please fill out this card and return it to us at your earliest convenience, but no later than December 1, 2014.

    %p
      If you have misplaced your card, please contact Michelle at
    .email
      michelle
      %span.dot
        [dot]
      e
      %span.dot
        [dot]
      rittner
      %span.dot
        [at]
      gmail
      %span.dot
        [dot]
      com


.section.row.travel#travel
  .title
    Travel Info

  .text.col-md-8.col-md-offset-2.col-xs-12
    %h1
      Where / When
    %h3.cursive
      Ceremony
    %p
      The wedding ceremony will begin at 4:30 pm on the Royal Palm Lawn at the <a href="https://pier66.hyatt.com/en/hotel/home.html">Hyatt Pier Sixty-Six Hotel</a>. The Royal Palm Lawn is located in the back of the Pier Sixty-Six tower, in front of the pool area. Hotel staff will direct you to the Lawn upon your arrival. 
    .hotel-info
      Hyatt Regency Pier Sixty-Six 
      %br
      2301 SE 17th St.
      %br
      Fort Lauderdale, FL 33136
      %br
      
    .maps
      %iframe.map{:frameborder => "0", :height => "450", :class => 'receptionMap', :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1791.4673036064996!2d-80.1151840736801!3d26.101053231135054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d900160ac1699b%3A0xf254c56d4db57a5e!2s2301+SE+17th+St%2C+Fort+Lauderdale%2C+FL+33316!5e0!3m2!1sen!2sus!4v1412054533348&scrollwheel=false", :style => "border:0", :width => "100%", :scrollwheel => false}

    %h3.cursive
      Reception
    %p
      The party will begin after the ceremony and cocktail hour at approximately 6pm in the Pier Top Ballroom of the Hyatt Regency.
    %hr

    %h1
      Getting There
    %p
      For those of you coming from out of town, the closest (and often cheapest airport) is Fort Lauderdale. From there, it is about a $15 cab ride (or less on
      = link_to 'Uber', 'https://www.uber.com/'
      or 
      = link_to 'Lyft', 'https://www.lyft.com/'
      ) to the Hyatt Regency.
    %p
      For those who are driving, take exit 23 off I95 South or Exit 26 off I95 North. There is free valet parking for all of our guests. Just tell them you are here for the Rittner-Rego Wedding!

    %hr

    %h1 Hotel Room Discounts
    %p
      We have reserved a block of discounted rooms for Friday and Saturday night at the Hyatt Regency Pier Sixty-Six. If you wish to book one of these rooms, click 
      %a{:href => 'https://resweb.passkey.com/go/RittnerRegoWedding'}
        here
      for details. You can also call 1-888-421-1442 and reference the Rittner-Rego wedding.

    %hr

    %h1 Things to Do in Ft. Lauderdale
    %ul
      %li Ft. Lauderdale Beach
      %li Water Taxi to surrounding bars and restaurants
      %li Shops and Restaurants at Las Olas
      %li The Galleria Mall
      %li Everglades Airboat Tours
      %li 25 minute drive from Miami

    %hr

    %h1
      Car Rentals

    %p
      You can rent a car from Avis, which is located on the Hyatt Regency property itself. Click 
      = link_to "here", "http://locations.avis.com/fl/ft-lauderdale/f8d.html"
      to reserve a car.
    %p
      We would recommend renting from here instead of the airport. The rates tend to be cheaper, and you can just return the car to the lot at the end of the day rather than paying the hotel’s overnight parking fees. 
    %p
      Moreover, Miami is a relatively short drive from Ft. Lauderdale. If you plan on visiting Miami at all during your stay here, rental a car would be essential.


.section.row.registry.short#registry
  .title
    Registry

  .text.row.col-md-8.col-md-offset-2.col-xs-12
    %p
      We are using Amazon and West Elm as our wedding registries. If you would like to buys us a gift, please see the items we have selected within the links below.

    %p
      =fa_icon "info-circle", class: "text-muted pull-left"
      Amazon gift senders: If you choose to send a gift via Amazon, please include your name in the gift message. We want to know who to thank!

    .registry-icons
      %span.icon.amazon
        %a{:href => 'http://www.amazon.com/registry/wedding/3GBUX9DHBTZHT'}
          = image_tag "amazon.png"
      %span.icon
        %a{:href => 'https://secure.westelm.com/registry/dqbn2rftgn/registry-list.html'}
          = image_tag "west_elm.png"



.section.row.about#couple
  .title
    About Us

  .row
    .profile.col-md-5.col-md-offset-1.col-sm-6.col-xs-12.left
      .profile_label
        Michelle
      = image_tag "michelle.jpg"

    .profile.col-md-5.col-sm-6.col-xs-12.right
      .profile_label
        Blake
      = image_tag "blake.jpg"

    .text.col-md-8.col-md-offset-2.how-we-met.text.row

      %p
        Our story was not one where love emerged instantly. It was a series of run-ins, introductions and re-introductions. It’s a story of two people living different lives who were brought together by their friends, and quite a bit of chance.

      .story-header
        Stories from the Beginning

      .stories
        .story
          %h1
            The Unexpected Umbrella
          %p
            It was a cool and cloudy autumn evening, around dusk, when Blake set off from his Boston apartment dressed in a tacky French buret to attend one of George’s (Michelle’s law school classmate) themed annual “Snob Parties”.  At the time Blake barely knew Michelle, but were on the peripheries of each other’s friend circles. 

          %p
            Between his apartment and the train station, the skies opened up and it started to pour. Blake immediately sought shelter under a store front on Cambridge Street and sat on its front steps. He was still about a half mile from the train station. Without a raincoat or umbrella, he was sure to be drenched by the time he made it to the T.

          %p
            Blake thought this would be the last straw.  He looked at his phone and thought, “I’m already late, I won’t know many people, and now I’ll be soaking wet.” 

          %p
            Defeated, Blake slowly gathered himself and prepared to head home when something caught his eye. On the very storefront he by-chance stepped into, there was a small umbrella, lying alone and forgotten on the ground. Blake walked over, picked it up, and looked around to see if anyone had dropped it. The store had long been closed, and there was no one in his immediate vicinity. “It must be broken”, he thought. To his surprise, as he opened it up, the umbrella was in one piece. 

          %p
            Blake eventually made it to the party, and to his delight, Michelle was there too, carrying a 6-pack of Smithwicks (one of Blake’s favorites) that would break the ice between them. After the party, Blake walked her home, not realizing until months later the significance of the umbrella, or that night.


        .story
          %h1
            A Train Leaving the Station
          %p
            It was a bright Spring weekend morning when Blake awoke, slightly hungover, to his cell phone ringing loudly in his ear. He sleepily picked up the phone to hear Jessica, Michelle’s future bridesmaid, looking for him. 
          %p
            “Are you at the train station?”
          %p
            Stunned, and still half asleep, Blake remembered his forgotten plans to go to Portland, Maine that day. He checked the time and realized he had only 11 minutes before the train would depart. He responded,
          %p
            “I don’t think I’ll have time to make it, I’m still at home”. 
          %p
            Jessica, ever persistent, responded with one word, before promptly hanging up
          %p
            “Run!"
          %p
            Perhaps it was the urgency in her voice, or the challenge of making the impossible train, but Blake decided he was going for it. Lucky for him, he was still wearing his clothes from the night before. He grabbed his jacket, his red hunting hat and bolted for the door. 
          %p
            At the time, Blake lived in Beacon Hill, which was a relatively close distance to the North End station. By the time he got to there, and checked the boards, and found the track, the train was all but ready to depart. As he turned the corner to the correct platform, the train was moving very slowly to depart. The conductor saw me and urged me in the with the same word that Jessica used previously
          %p
            “Run!”
          %p
            Blake made the slowly but surely departing train and found Jessica and her friends sitting comfortably, with one seat saved. Out of breath, Blake gathered himself to meet some new faces. Among those was a pretty girl he would come to know as Michelle.

        .story
          %h1
            No, Maybe, Yes: The Story of Our First Date
          %p
            It was a chilly Thursday night in Boston, and Michelle found herself at Beantown Pub for yet another law school social event. Unbeknownst to Michelle, Jessica had invited Blake to join them as it was only a few blocks from his apartment. After arriving at the bar, Michelle realized that aside from Jessica, she didn't really know anyone else there. She was sitting on a stool, fidgeting awkwardly, when suddenly, Blake got up and invited everyone to play a game of pool. "Michelle's on my team," shouted Blake as they gathered around the table. 
          %p
            After all the balls had been knocked into the holes, Blake came up to Michelle with a grin on his face. "So, what are you doing for the long weekend?" Completely caught off guard, Michelle tried to think of something to say. But before she could reply, Blake asked "Want to go movie hopping on Saturday?" "Um, I have a lot of work to catch up on. I don't think I can make it," Michelle snapped instinctively. 
          %p
            After walking away, Michelle thought about it for a few more minutes. Blake was a nice guy, and it might be fun to catch a movie instead of studying administrative law all day with her cat. 
          %p
            Michelle turned around and caught Blake's gaze. "Actually, I can go movie hopping with you. It is a long weekend after all." They exchanged phone numbers and planned to meet on Saturday afternoon.
          %p
            However, by Friday night, Michelle started to feel sick. Her stomach hurt, and she was awake all night. She contemplated just texting Blake in the morning to cancel their date. By the morning though, she started to feel better, and thought it would be rude to cancel on him so late. After all, Blake assured her that he had already purchased chocolate covered pretzels and Capri Suns to sneak into the movie theater. 
          %p
            At noon, Michelle met Blake in front of Loews. Although Michelle had said yes to movie hopping, she figured she could always bow out after the first movie if things didn't go so well. As it turned out, they had a great time, and spent all day watching three movies back to back - the Facebook movie, a chick flick, and some scary movie (presumably so Blake had an excuse to hold Michelle's hand for the gory scenes). 



.section.row.proposal.row#proposal
  .title
    Proposal
  .text.col-md-8.col-md-offset-2
    %h1 How it all happened
    %p
      In August 2013, we were selling all our belongings, packing up, and getting ready to leave NYC. During this time, Michelle was taking a design class every Wednesday night. One evening, as the class was ending, Michelle called Blake and asked if she should pick up sandwiches for dinner. Blake told her that he would order some Indian food, and that she should just come straight home.
      %br
        %br
          Thirty minutes later, Michelle came home and smelled something amazing cooking as she walked down the hallway. When she opened the door, she was surprised to see rose petals lining the table, candles, wine, and a bouquet of beautiful roses. Moreover, Blake had prepared a gourmet meal of steak, potatoes and asparagus with some help from a kind employee at Whole Foods. Blake immediately got down on one knee and proposed. Michelle cried of course, and said yes!

  .profile.col-md-5.col-md-offset-1.col-sm-6.col-xs-12.left
    = image_tag "proposal1.jpg"
  .profile.col-md-5.col-sm-6.col-xs-12.right
    = image_tag "ring.jpg"

.section.row.attendants.row#weddingParty
  .title
    Wedding Party
  .row.portraits
    .col-md-4.col-md-offset-2
      %h1 Bride's Attendants
      = image_tag "char.jpg"
      %h2 Charmiane Lieu
      = image_tag "lindseyR.jpg"
      %h2 Lindsey Mariano
      = image_tag "david.jpg"
      %h2 David Rittner
      = image_tag "lindseyF.jpg"
      %h2 Lindsey Fernandez
      = image_tag "jason.jpg"
      %h2 Jason Chen
      = image_tag "laura.jpg"
      %h2 Laura Snizek Ramirez
      = image_tag "jessica.jpg"
      %h2 Jessica Lin
    .col-md-4
      %h1 Groom's Attendants
      = image_tag "brian.jpg"
      %h2 Brian Tovar
      = image_tag "antonio.jpg"
      %h2 Antonio Dell'Aglio
      = image_tag "kyle.jpg"
      %h2 Kyle Rego
      = image_tag "charley.jpg"
      %h2 Charley McMillan
      = image_tag "manav.jpg"
      %h2 Manav Malhotra
      = image_tag "matthew.jpg"
      %h2 Matthew Gordon
      = image_tag "journee.jpg"
      %h2 Journee Isip

