
.top
  = image_tag 'pier66.jpg', :id => 'featuredImage'
  %ul.nav
    %li#couple_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          The Couple
    %li#proposal_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Proposal
    %li#party_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Wedding Party
    %li#rsvp_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          RSVP
    %li#travel_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "#"}
          Travel Info
    %li#registry_nav.nav_button{"data-target" => "#couple"}
      %span.underline
        %a{:href => "http://www.amazon.com/registry/wedding/3GBUX9DHBTZHT"}
          Registry

.section.intro
  .row
    .col-md-4.col-md-offset-3.welcome-box
      Hello!  Welcome to our wedding website. We can’t wait to celebrate our wedding on January 17, 2015 with everyone. Until then, take some time to explore our site and plan your travels.
      %span
        Don’t forget to RSVP!
      — M & B

    .col-md-2
      .yellow-box
        %p.ceremony-start-text
          The ceremony begins in:
      %span#cntdwn.yellow-box

.section.about
  .row
    .profile.col-md-4.col-md-offset-2.col-xs-12
      .profile_label
        Michelle
      = image_tag "michelle.jpg"

    .profile.col-md-4.col-xs-12
      .profile_label
        Blake
      = image_tag "blake.jpg"

    .text.col-md-8.col-md-offset-2
      %h1 How We Met
      %p
        When Michelle was in law school in Boston, a mutual friend and classmate often invited Blake (one of her college friends) to various law school events. From trips to Maine to sushi nights, Blake and Michelle were always at the same events with the same circle of friends, but they hardly talked. Little did Michelle know that Blake secretly had a crush on her.
      %p
        Finally, when the two of them were playing pool one night, Blake asked Michelle on a date. He suggested they go movie hopping over the long weekend. Michelle immediately said she was too busy, but then quickly changed her mind and said yes. Over Columbus Day weekend of 2010, they went on a three movie marathon date and then to dinner afterward. The rest is history!

.section.proposal.row
  .title
    Proposal
  .text.col-md-8.col-md-offset-2
    %h1 How it all happened
    %p
      In August 2013, we were selling all our belongings, packing up, and getting ready to leave NYC. During this time, Michelle was taking a design class every Wednesday night. One evening, as the class was ending, Michelle called Blake and asked if she should pick up sandwiches for dinner. Blake told her that he would order some Indian food, and that she should just come straight home.
      %br
        %br
          Thirty minutes later, Michelle came home and smelled something amazing cooking as she walked down the hallway. When she opened the door, she was surprised to see rose petals lining the table, candles, wine, and a bouquet of beautiful roses. Moreover, Blake had prepared a gourmet meal of steak, potatoes and asparagus with some help from a kind employee at Whole Foods. Blake immediately got down on one knee and proposed. Michelle cried of course, and said yes!

  .col-md-4.col-md-offset-2.col-xs-12
    = image_tag "proposal1.jpg"
  .col-md-4.col-xs-12
    = image_tag "ring.jpg"

.section.attendants.row
  .title
    Wedding Party
  .row.portraits
    .col-md-4.col-md-offset-2
      %h1 Bride's Attendants
      = image_tag "char.jpg"
      %h2 Charmiane Lieu
      = image_tag "lindseyR.jpg"
      %h2 Lindsey Rhodes
      = image_tag "david.jpg"
      %h2 David Rittner
      = image_tag "lindseyF.jpg"
      %h2 Lindsey Fernandez
      = image_tag "jason.jpg"
      %h2 Jason Chen
      = image_tag "laura.jpg"
      %h2 Laura Snizek
      = image_tag "jessica.jpg"
      %h2 Jessica Lin
    .col-md-4
      %h1 Groom's Attendants
      = image_tag "brian.jpg"
      %h2 Brian Tovar
      = image_tag "antonio.jpg"
      %h2 Antonio Dell'Aglio
      = image_tag "kyle.jpg"
      %h2 Kyle Rego
      = image_tag "charley.jpg"
      %h2 Charley McMillan
      = image_tag "manav.jpg"
      %h2 Manav Malhotra
      = image_tag "matthew.jpg"
      %h2 Matthew Gordon
      = image_tag "journee.jpg"
      %h2 Journee Isip

.section.travel
  .text.col-md-8.col-md-offset-2
    .title
      Travel Info
    %h1
      Where / When
    %h3.cursive
      Ceremony
    %p
      The wedding ceremony will begin at 5pm on the Royal Palm Lawn at the <a href="https://pier66.hyatt.com/en/hotel/home.html">Hyatt Pier 66 Hotel</a>. The Royal Palm Lawn is located in the back of the Pier 66 tower, in front of the pool area. Hotel staff will direct you to the Lawn upon your arrival. 
    .hotel-info
      Hyatt Regency Pier Sixty-Six 
      %br
      2301 SE 17th St.
      %br
      Fort Lauderdale, FL 33136
      %br

    %iframe.map{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3582.91954099498!2d-80.114803!3d26.101544999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d900160af9b323%3A0xcd879c9606358b24!2sHyatt+Regency+Pier+Sixty-Six!5e0!3m2!1sen!2sus!4v1402268155230", :style => "border:0", :width => "100%"}

    %h3.cursive
      Reception
    %p
      The party will begin after the ceremony and cocktail hour at approximately 7pm in the Pier Top Ballroom of the Hyatt Regency.
    %hr

    %h1
      Getting There
    %p
      For those of you coming from out of town, the closest (and often cheapest airport) is Fort Lauderdale. From there, it is about a $15 cab ride (or less on
      = link_to 'Uber', 'https://www.uber.com/'
      or 
      = link_to 'Lyft', 'https://www.lyft.com/'
      ) to the Hyatt Regency.
    %p
      For those who are driving, take exit 23 off I95 South or Exit 26 off I95 North. There is free valet parking for all of our guests. Just tell them you are here for the Rittner-Rego Wedding!

    %hr

    %h1 Hotel Room Discounts
    %p
      We have reserved a block of discounted rooms for Friday and Saturday night at the Hyatt Regency Pier Sixty-Six. If you wish to book one of these rooms, click here for details.

    %hr

    %h1 Things to Do in Ft. Lauderdale
    %ul
      %li Ft. Lauderdale Beach
      %li Water Taxi to surrounding bars and restaurants
      %li Shops and Restaurants at Las Olas
      %li The Galleria Mall
      %li Everglades Airboat Tours
      %li 25 minute drive from Miami

    %hr

    %h1
      Car Rentals

    %p
      You can rent a car from Avis, which is located on the Hyatt Regency property itself. Click 
      = link_to "here", "http://locations.avis.com/fl/ft-lauderdale/f8d.html"
      to reserve a car.
    %p
      We would recommend renting from here instead of the airport. The rates tend to be cheaper, and you can just return the car to the lot at the end of the day rather than paying the hotel’s overnight parking fees. 
    %p
      Moreover, Miami is a relatively short drive from Ft. Lauderdale. If you plan on visiting Miami at all during your stay here, rental a car would be essential.
