<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @rsvp.code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rsvp.address %>
</p>

<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<%= link_to 'Back', rsvps_path %>
